.big-header {
    border-top: 1px solid #ECECEC;
    background-color: var(--footer-bg-color);
    justify-content: center;
    background-image: linear-gradient(var(--shadow-img),
    var(--shadow-img)),
    url("../images/tablet/main-photo-x1.jpg");
    max-width: 1600px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(var(--shadow-img),
                        var(--shadow-img)),
                    url("../images/mobile/main-photo-x2.jpg");
            }

        @media screen and (min-width: 768px) {
                background-image: linear-gradient(var(--shadow-img),
                        var(--shadow-img)),
                    url("../images/tablet/main-photo-x1.jpg");
            }

        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi), 
            (min-resolution: 2dppx) {
                background-image: linear-gradient(var(--shadow-img),
                        var(--shadow-img)),
                    url("../images/tablet/main-photo-x2.jpg");
            }

        @media screen and (min-width: 1200px) {
                background-image: linear-gradient(var(--shadow-img),
                        var(--shadow-img)),
                    url("../images/desktop/main-photo-x1.jpg");

        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(var(--shadow-img),
                var(--shadow-img)),
                    url("../images/desktop/main-photo-x2.jpg");
            }
        }

    &__title {
        display: flex;
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        letter-spacing: 0.06em;
        color: var(--primary-bg-color);
        text-align: center;
        flex-wrap: wrap;
        
        margin: auto;
        padding-top: 106px;
        padding-bottom: 30px;

        @media screen and (min-width: 1200px) {
                font-size: 44;
                line-height: calc(60 / 44);
                width: 696px;
            }

        &--button {
            display: flex;
            color: var(--primary-bg-color);
            background-color: var(--logo-web-color);
            font-weight: 700;
            line-height: 1.87;
            font-size: 16px;
            letter-spacing: 0.06em;
            border: none;
            border-radius: 4px;
            padding: 10px;
            width: 200px;
            margin: 0 auto 106px auto;
            justify-content: center;

            &:focus,
            &:hover {
                box-shadow: 0px 4px 4px var(--shadow-main-button);
                transition-duration: var(--default-time);
                transition-timing-function: var(--default-time-function);
                cursor: pointer;
            }
        }
    }
}