.contact-nav {
    list-style: none;
    text-decoration: none;
    justify-content: flex-start;
    display: flex;
    gap: 50px;
    color: var(--title-text-color);
    font-style: normal;

        @media screen and (max-width:767px) {
                display: none;
            }

        @media screen and (min-width: 768px) {
            flex-direction: column;
            gap: 10px;
            margin-left: 119px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            margin-left: 345px;
        }

    &__icons {
        display: flex;
        align-items: center;

    &:hover {
        fill: var(--logo-web-color);
        cursor: pointer;
    }

        &--symbol {
        margin-right: 10px;
        align-items: center;
        }

    &--symbolmail:link,
    &--symboltel:link {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        font-style: normal;
    }

    &--symbolmail:hover,
    &--symboltel:hover {
        color: var(--logo-web-color);
        cursor: pointer;
    }
    }
}