.contact-nav {
    list-style: none;
    text-decoration: none;
    margin-left: auto;
    justify-content: space-between;
    display: flex;
    gap: 50px;
    color: var(--title-text-color);
    font-style: normal;

    &__icons {
        display: flex;
        align-items: center;

    &:hover {
        fill: var(--logo-web-color);
        cursor: pointer;
    }

        &--symbol {
            margin-right: 10px;
            align-items: center;
        }

    &--symbolmail:link,
    &--symboltel:link {
        text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--title-text-color);
            font-style: normal;
    }

    &--symbolmail:hover,
    &--symboltel:hover {
        color: var(--logo-web-color);
        cursor: pointer;
    }
    }
}