.doing {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        text-align: center;
        margin-bottom: 50px;

        &__list {
            list-style: none;
            display: flex;
            justify-content: center;
            padding-left: 0px;
            gap: 30px;
        }
}

.doing-img {
    position: relative;

    &__computer {
        background: var(--what-we-do-shadow);
        background-image: url(/goit-markup-hw-05/images/img-1.jpg);
        width: 370px;
        height: 294px;
    }

    &__mobile {
        background: var(--what-we-do-shadow);
        background-image: url(/goit-markup-hw-05/images/img-2.jpg);
        width: 370px;
        height: 294px;
    }

    &__grafic {
        background: var(--what-we-do-shadow);
        background-image: url(/goit-markup-hw-05/images/img-3.jpg);
        width: 370px;
        height: 294px;
    }

    &__title {
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-bg-color);
        background-color: var(--what-we-do-shadow);
        font-size: 14px;
        font-weight: 700;
    }
}