.newsletter-footer {

    @media screen and (min-width: 768px) {
            display: block;
        }
    @media screen and (min-width: 1200px) {
            margin-top: 72px;
            margin-left: 78px;
        }

    &__joinus {
        color: var(--primary-bg-color);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 1, 17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
        font: inherit;

        @media screen and (min-width: 1200px) {
                text-align: left;
                margin-top: 0;
            }
    }

    &_window{
        margin: 20px 0 60px 0;
        gap: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    &__input {
        width: 100%;
        height: 50px;
        background-color: inherit;
        border: 1px solid var(--border-email);
        border-radius: 4px;
        padding-left: 16px;
        color: var(--primary-bg-color);
        margin-bottom: 20px;
        margin-right: 15px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 450px;
                margin-left: 150px;
            }

        @media screen and (min-width: 1200px) {
                width: 358px;
            }
        }
    

    &__button {
        display: flex;
        color: var(--primary-bg-color);
        background-color: var(--logo-web-color);
        font-weight: 700;
        line-height: 1.87;
        font-size: 16px;
        letter-spacing: 0.06em;
        border: none;
        border-radius: 4px;
        padding: 10px;
        width: 200px;
        box-shadow: 0px 4px 4px var(--shadow-main-button);
        cursor: pointer;
        align-items: center;
        justify-content: center;


        @media screen and (min-width: 1200px) {
                margin-left: 12px;
                display: inline-flex;
            }

        &--icon {
            display: flex;
            align-items: center;
            fill: var(--primary-bg-color);
            margin: 3px 0 0 24px;
            cursor: pointer;
        }
    }
}

.newsletter-footer button {
    margin: auto;
}

