.portfolio-cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0 auto;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--primary-bg-color);
        background-color: var(--background-overlay);
        padding: 49px 45px 49px 24px;
        transform: translateY(100%);
        transition-duration: var(--default-time);
        transition-timing-function: var(--default-time-function);
        }

    &__frame {
        position: relative;
        overflow: hidden;
        }

    &__item:focus,
    &__item:hover {
        box-shadow: 0px 1px 1px var(--shadow-por-3), 0px 4px 4px var(--shadow-por-2), 1px 4px 6px var(--shadow-por-1);
        transition-duration: var(--default-time);
        transition-timing-function: var(--default-time-function);
    }

    &__item:hover .portfolio-cards__overlay{
        transform: translatey(0);
    }
}

.portfolio-photo {
    border: 1px solid #EEEEEE;

    &__name {
        font-weight: 700;
        letter-spacing: 0.06em;
        padding: 20px 0 4px 24px;
        line-height: 2em;
        }
    
    &__service {
        line-height: 1.875em;
        padding: 0 0 20px 24px;
        color: var(--title-text-color);
        }
}