.sec-paragraph {
    display: flex;
    margin: 0px;
    justify-content: space-around;
    gap: 30px;
    word-wrap: normal;
    flex-wrap: wrap;
    padding-bottom: 0;

    @media screen and (min-width: 768px) {
            padding-bottom: 94px;
        }

    &__list {
        list-style: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 10px;
        flex-flow: wrap;
    }

    &__rectagle {
        display: flex;
        width: 100%;
        height: 120px;
        background: var(--buttons-color);
        margin-right: auto;

        @media screen and (min-width: 768px) {
            width: 270px;
        }

            &--icon {
                display: flex;
                align-items: center;
                padding: 25px 100px;
            }
    }
}

.sec-paragraph-title {
        text-transform: uppercase;
        margin-bottom: 10px;
        flex-flow: wrap;
        padding-top: 10px;
        text-align: center;
        
        @media screen and (min-width: 768px) {
                text-align: left;
            }

            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.7;
                letter-spacing: 0.03em;
                color: var(--title-text-color);
                line-height: 1.71;
                width: 100%;

                @media screen and (min-width: 768px) {
                        width: 270px;
                    }
        }
}