.socialmedia-footer-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    margin-top: 20px;

    &__group {
        list-style: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--shadow-icon-footer);
        fill: var(--primary-bg-color);

        &--icon {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 44px;
            height: 44px;
            fill: var(--main-white);
            border-radius: 50%;

            &:hover,
            &:focus {
                background-color: var(--logo-web-color);
                fill: var(--primary-bg-color);
                transition-duration: var(--default-time);
                transition-timing-function: var(--default-time-function);
            }
        }
    }
}