.socialmedia-footer {
    height: 80px;
    margin-top: 72px;

    @media screen and (min-width: 1200px) {
            width: 206px;
            margin-left: 70px;
        }

    &__title {
        color: var(--primary-bg-color);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 1, 17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font: inherit;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
}

.socialmedia-footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin-top: 20px;

    &__group {
        list-style: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--shadow-icon-footer);
        fill: var(--primary-bg-color);
        

        &--icon {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 44px;
            height: 44px;
            fill: var(--main-white);
            border-radius: 50%;

            &:hover,
            &:focus {
                background-color: var(--logo-web-color);
                fill: var(--primary-bg-color);
                transition-duration: var(--default-time);
                transition-timing-function: var(--default-time-function);
            }
        }
    }
}
