:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --main-bg-color: #E5E5E5;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --logo-web-color: #2196F3;
    --logo-web-color-2: #000000;
    --footer-bg-color: #2F303A;
    --buttons-color: #F5F4FA;
    --botom-contact-color: #FFFFFF99;
    --icon-color: #AFB1B8;
    --shadow-main-button: #00000026;
    --shadow-img-1: #00000033;
    --shadow-img-2: #00000024;
    --shadow-img-3: #0000001F;
    --shadow-img: #2F303A66;
    --shadow-por-1: #00000029;
    --shadow-por-2: #0000000F;
    --shadow-por-3: #0000001F;
    --button-shadow-1: #0000001F;
    --button-shadow-2: #00000014;
    --button-shadow-3: #0000001A;
    --shadow-icon-footer: #FFFFFF1A;
    --default-time: 250ms;
    --default-time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --what-we-do-shadow: rgba(47, 48, 58, 0.8);
    --background-overlay: #2196F3E5;
    --shadow-window: rgba(0, 0, 0, 0.2);
    --border-email: #FFFFFF4D;
    --email-footer: #FFFFFF99;
    --input-form-border: #21212133;
}
